# Import Packages

In [3]:
import pandas as pd

In [11]:
import numpy as np
import matplotlib.pyplot as plt
from pylab import *
import seaborn as sns
%matplotlib inline
import statsmodels.api as sm
import statsmodels.stats.api as sms
from scipy.stats import boxcox

In [12]:
RegularGas = pd.read_excel("C:/Users/dawne/OneDrive/Documents/Final Project/RegularGasPrice.xlsx")

In [13]:
RegularGas.head()

,Date,Weekly U.S. Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly East Coast Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly New England (PADD 1A) Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Central Atlantic (PADD 1B) Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Lower Atlantic (PADD 1C) Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Midwest Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Gulf Coast Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Rocky Mountain Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly West Coast Regular Conventional Retail Gasoline Prices (Dollars per Gallon),...,Weekly Florida Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly New York Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Minnesota Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Ohio Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Texas Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Washington Regular Conventional Retail Gasoline Prices (Dollars per Gallon),"Weekly Cleveland, OH Regular Conventional Retail Gasoline Prices (Dollars per Gallon)","Weekly Denver, CO Regular Conventional Retail Gasoline Prices (Dollars per Gallon)","Weekly Miami, FL Regular Conventional Retail Gasoline Prices (Dollars per Gallon)","Weekly Seattle, WA Regular Conventional Retail Gasoline Prices (Dollars per Gallon)"
0,1990-08-20,1.191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1990-08-27,1.245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1990-09-03,1.242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1990-09-10,1.252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1990-09-17,1.266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
RegularGas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1661 entries, 0 to 1660
Data columns (total 21 columns):
 #   Column                                                                                               Non-Null Count  Dtype
---  ------                                                                                               --------------  -----
 0   Date                                                                                                 1661 non-null   datetime64[ns]
 1   Weekly U.S. Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)                        1655 non-null   float64
 2   Weekly East Coast Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)                  1571 non-null   float64
 3   Weekly New England (PADD 1A) Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)       1524 non-null   float64
 4   Weekly Central Atlantic (PADD 1B) Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)  1524 non-null   float64
 5   Weekly Lower Atlantic (PADD 1C) Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)    1524 non-null   float64
 6   Weekly Midwest Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)                     1571 non-null   float64
 7   Weekly Gulf Coast Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)                  1571 non-null   float64
 8   Weekly Rocky Mountain Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)              1571 non-null   float64
 9   Weekly West Coast Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)                  1566 non-null   float64
 10  Weekly Colorado Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)                    1150 non-null   float64
 11  Weekly Florida Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)                     995 non-null    float64
 12  Weekly New York Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)                    1150 non-null   float64
 13  Weekly Minnesota Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)                   1150 non-null   float64
 14  Weekly Ohio Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)                        995 non-null    float64
 15  Weekly Texas Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)                       1150 non-null   float64
 16  Weekly Washington Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)                  995 non-null    float64
 17  Weekly Cleveland, OH Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)               995 non-null    float64
 18  Weekly Denver, CO Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)                  1150 non-null   float64
 19  Weekly Miami, FL Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)                   994 non-null    float64
 20  Weekly Seattle, WA Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)                 995 non-null    float64
dtypes: datetime64[ns](1), float64(20)
memory usage: 272.6 KB

# Eliminate unnecessary data

In [16]:
RegularGas.dropna(inplace=True)

In [17]:
RegularGas.head()

,Date,Weekly U.S. Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly East Coast Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly New England (PADD 1A) Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Central Atlantic (PADD 1B) Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Lower Atlantic (PADD 1C) Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Midwest Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Gulf Coast Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Rocky Mountain Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly West Coast Regular Conventional Retail Gasoline Prices (Dollars per Gallon),...,Weekly Florida Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly New York Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Minnesota Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Ohio Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Texas Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Washington Regular Conventional Retail Gasoline Prices (Dollars per Gallon),"Weekly Cleveland, OH Regular Conventional Retail Gasoline Prices (Dollars per Gallon)","Weekly Denver, CO Regular Conventional Retail Gasoline Prices (Dollars per Gallon)","Weekly Miami, FL Regular Conventional Retail Gasoline Prices (Dollars per Gallon)","Weekly Seattle, WA Regular Conventional Retail Gasoline Prices (Dollars per Gallon)"
666,2003-05-26,1.439,1.392,1.482,1.463,1.371,1.460,1.369,1.495,1.597,...,1.439,1.555,1.457,1.421,1.360,1.543,1.414,1.461,1.515,1.534
667,2003-06-02,1.428,1.393,1.484,1.457,1.372,1.439,1.364,1.483,1.594,...,1.443,1.534,1.435,1.365,1.356,1.539,1.358,1.433,1.512,1.524
668,2003-06-09,1.456,1.408,1.475,1.466,1.388,1.495,1.376,1.478,1.600,...,1.449,1.524,1.466,1.487,1.363,1.541,1.515,1.428,1.523,1.522
669,2003-06-16,1.480,1.443,1.486,1.485,1.427,1.508,1.402,1.513,1.656,...,1.478,1.523,1.511,1.515,1.386,1.582,1.518,1.492,1.514,1.578
670,2003-06-23,1.451,1.432,1.478,1.474,1.416,1.441,1.397,1.520,1.665,...,1.468,1.508,1.442,1.391,1.382,1.586,1.407,1.480,1.526,1.580

In [41]:
NortheastUrbanPerBarrel = pd.read_excel("C:/Users/dawne/OneDrive/Documents/Final Project/NortheastPerBarrel.xlsx")

In [42]:
PricePerGallonUrban.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1,HALF2
1,2012,242.879,243.85,245.125,245.85,245.709,245.201,244.984,246.252,247.409,247.564,247.097,246.456,245.698,244.769,246.627
2,2013,247.277,248.665,248.719,248.464,248.584,248.851,249.411,249.858,250.231,249.32,249.503,249.567,249.038,248.427,249.648
3,2014,251.045,251.233,252.413,252.506,253.598,253.555,253.833,253.185,253.154,252.73,251.781,250.519,252.463,252.392,252.534
4,2015,250.016,250.619,251.451,251.76,252.77,253.626,253.405,252.903,252.922,252.504,252.573,251.67,252.185,251.707,252.663

In [33]:
PricePerGallonUrban.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   12 non-null     object
 1   Unnamed: 1   12 non-null     object
 2   Unnamed: 2   12 non-null     object
 3   Unnamed: 3   12 non-null     object
 4   Unnamed: 4   12 non-null     object
 5   Unnamed: 5   11 non-null     object
 6   Unnamed: 6   11 non-null     object
 7   Unnamed: 7   11 non-null     object
 8   Unnamed: 8   11 non-null     object
 9   Unnamed: 9   11 non-null     object
 10  Unnamed: 10  11 non-null     object
 11  Unnamed: 11  11 non-null     object
 12  Unnamed: 12  11 non-null     object
 13  Unnamed: 13  11 non-null     object
 14  Unnamed: 14  11 non-null     object
 15  Unnamed: 15  11 non-null     object
dtypes: object(16)
memory usage: 1.6+ KB

In [39]:
MidwestPerBarrel = pd.read_excel("C:/Users/dawne/OneDrive/Documents/MidwestPerBarrel.xlsx")

In [40]:
MidwestPerBarrel.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1,HALF2
0,2012,216.368,216.855,218.975,219.405,219.145,219.017,218.956,220.462,221.125,220.375,219.483,219.033,219.100,218.294,219.906
1,2013,219.282,221.599,222.121,221.931,223.049,223.775,222.902,223.046,223.252,222.171,221.718,221.194,222.170,221.960,222.381
2,2014,222.247,223.493,225.485,226.214,226.565,227.588,226.997,226.587,226.913,225.793,224.396,222.821,225.425,225.265,225.585
3,2015,221.545,222.301,223.550,223.797,224.732,225.946,225.853,225.830,225.184,225.050,224.009,222.722,224.210,223.645,224.775
4,2016,223.301,223.196,224.621,225.609,226.476,227.835,226.786,227.097,227.636,227.358,226.673,226.794,226.115,225.173,227.057

In [36]:
MidwestPerBarrel.dropna(inplace=True)

In [37]:
MidwestPerBarrel.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
2,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1,HALF2
3,2012,216.368,216.855,218.975,219.405,219.145,219.017,218.956,220.462,221.125,220.375,219.483,219.033,219.1,218.294,219.906
4,2013,219.282,221.599,222.121,221.931,223.049,223.775,222.902,223.046,223.252,222.171,221.718,221.194,222.17,221.96,222.381
5,2014,222.247,223.493,225.485,226.214,226.565,227.588,226.997,226.587,226.913,225.793,224.396,222.821,225.425,225.265,225.585
6,2015,221.545,222.301,223.55,223.797,224.732,225.946,225.853,225.83,225.184,225.05,224.009,222.722,224.21,223.645,224.775

In [38]:
MidwestPerBarrel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11 entries, 2 to 12
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   11 non-null     object
 1   Unnamed: 1   11 non-null     object
 2   Unnamed: 2   11 non-null     object
 3   Unnamed: 3   11 non-null     object
 4   Unnamed: 4   11 non-null     object
 5   Unnamed: 5   11 non-null     object
 6   Unnamed: 6   11 non-null     object
 7   Unnamed: 7   11 non-null     object
 8   Unnamed: 8   11 non-null     object
 9   Unnamed: 9   11 non-null     object
 10  Unnamed: 10  11 non-null     object
 11  Unnamed: 11  11 non-null     object
 12  Unnamed: 12  11 non-null     object
 13  Unnamed: 13  11 non-null     object
 14  Unnamed: 14  11 non-null     object
 15  Unnamed: 15  11 non-null     object
dtypes: object(16)
memory usage: 1.5+ KB

In [59]:
AllGradesConvPerDollar = pd.read_excel("C:/Users/dawne/OneDrive/Documents/AllGradesConventionalPerDollar.xlsx")

In [60]:
AllGradesConvPerDollar.head()

,Date,WeeklyUS All Grades Conventional Retail Gasoline Prices,Weekly East Coast All Grades Conventional Retail Gasoline Prices,Weekly New England (PADD 1A) All Grades Conventional Retail Gasoline Prices,Weekly Central Atlantic (PADD 1B) All Grades Conventional Retail Gasoline Prices,Weekly Lower Atlantic (PADD 1C) All Grades Conventional Retail Gasoline Prices,Weekly Midwest All Grades Conventional Retail Gasoline Prices,Weekly Gulf Coast All Grades Conventional Retail Gasoline Prices,Weekly Rocky Mountain All Grades Conventional Retail Gasoline Prices,Weekly West Coast All Grades Conventional Retail Gasoline Prices,...,Weekly Florida All Grades Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Minnesota All Grades Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly New York All Grades Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Ohio All Grades Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Texas All Grades Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Washington All Grades Conventional Retail Gasoline Prices (Dollars per Gallon),"Weekly Cleveland, OH All Grades Conventional Retail Gasoline Prices (Dollars per Gallon)","Weekly Denver, CO All Grades Conventional Retail Gasoline Prices (Dollars per Gallon)","Weekly Miami, FL All Grades Conventional Retail Gasoline Prices (Dollars per Gallon)","Weekly Seattle, WA All Grades Conventional Retail Gasoline Prices (Dollars per Gallon)"
0,1994-11-28,1.175,1.208,1.232,1.262,1.192,1.122,1.209,1.226,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1994-12-05,1.143,1.183,1.202,1.249,1.161,1.086,1.177,1.215,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1994-12-12,1.118,1.160,1.185,1.230,1.137,1.057,1.160,1.206,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1994-12-19,1.099,1.141,1.166,1.215,1.117,1.039,1.149,1.175,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994-12-26,1.088,1.134,1.161,1.211,1.109,1.027,1.136,1.153,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
AllGradesConvPerDollar.head()

,Date,WeeklyUS All Grades Conventional Retail Gasoline Prices,Weekly East Coast All Grades Conventional Retail Gasoline Prices,Weekly New England (PADD 1A) All Grades Conventional Retail Gasoline Prices,Weekly Central Atlantic (PADD 1B) All Grades Conventional Retail Gasoline Prices,Weekly Lower Atlantic (PADD 1C) All Grades Conventional Retail Gasoline Prices,Weekly Midwest All Grades Conventional Retail Gasoline Prices,Weekly Gulf Coast All Grades Conventional Retail Gasoline Prices,Weekly Rocky Mountain All Grades Conventional Retail Gasoline Prices,Weekly West Coast All Grades Conventional Retail Gasoline Prices,...,Weekly Florida All Grades Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Minnesota All Grades Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly New York All Grades Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Ohio All Grades Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Texas All Grades Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly Washington All Grades Conventional Retail Gasoline Prices (Dollars per Gallon),"Weekly Cleveland, OH All Grades Conventional Retail Gasoline Prices (Dollars per Gallon)","Weekly Denver, CO All Grades Conventional Retail Gasoline Prices (Dollars per Gallon)","Weekly Miami, FL All Grades Conventional Retail Gasoline Prices (Dollars per Gallon)","Weekly Seattle, WA All Grades Conventional Retail Gasoline Prices (Dollars per Gallon)"
0,1994-11-28,1.175,1.208,1.232,1.262,1.192,1.122,1.209,1.226,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1994-12-05,1.143,1.183,1.202,1.249,1.161,1.086,1.177,1.215,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1994-12-12,1.118,1.160,1.185,1.230,1.137,1.057,1.160,1.206,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1994-12-19,1.099,1.141,1.166,1.215,1.117,1.039,1.149,1.175,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1994-12-26,1.088,1.134,1.161,1.211,1.109,1.027,1.136,1.153,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN